@import '~antd/es/style/themes/default.less';

.DetailLayout {
  width: 400px;
  min-height: 640px;
  //height: 100%;
  background: red;
  position: absolute;
  //z-index: 13;
  //top: 100px;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  //.p {
  //  display: inline-block
  //}
}

.DetailHeader {
  background: #fff;
  box-sizing: border-box;
  font-size: 18px;
  //box-shadow: -4px 0 15px 0 rgba(0, 0, 0, 0.2);
  border-left: 1px solid #eee;
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 0 10px;
  transition: all .3s ease;
  //.div {
  //  display: inline-block;
  //  float: right;
  //  margin-left: 3px
  //}
}

.DetailContent {
  background: #fff;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  padding: 30px 30px;
  box-shadow: -4px 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
}

.DetailFooter {
  background: #f3f3f3;
  border-top: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  box-shadow: -4px 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all .3s ease
}

.DetailRowKey {
  line-height: 33px;
  margin-bottom: 10px;
  padding-right: 10px;
  text-align: right
}

.DetailRowValue {
  margin-left: 10px;
  line-height: 33px;
  color: #000
}

.DetailRowValueColor {
  margin-left: 10px;
  line-height: 33px;
  color: #787878
}

.Woman {
  line-height: 33px;
  margin-bottom: 10px;
  background-color: red
}

.Man {
  line-height: 33px;
  margin-bottom: 10px;
  background-color: #08c
}
